.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-around;
}

.App-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}